body {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.main-title {
    text-align: center;
}

.description {
    font-style: italic;
}

.ingredients,
.steps {
    text-align: left;
}
